.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

button {
    margin: 4px;
    padding: 14px 18px;
    cursor: pointer;
    color: #0d0d0e;
    font-size: 15px;
    border-radius: 10px;
}

button:hover {
    background-color: #007bff;
}

button:disabled {
    background-color: gainsboro;
}

