.card {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}
.card h3 {
  margin-bottom: 5px;
}

.card p {
  font-size: 14px;
}

.not-found {
  color: red;
}
