div {
    text-align: center;
    margin-top: 20px;
}


select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    transition: border-color 0.3s;
}

select:hover {
    border-color: #999;
}


option {
    background-color: #fff;
}


option:hover {
    background-color: #f0f0f0;
}


select::-ms-expand {
    display: none;
}


select:after {
    content: "▼";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    background-color: #ccc;
    color: #fff;
    pointer-events: none;
}