.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.button {
    box-shadow: 0 2px 4px lightblue;
    border: 2px solid lightblue;
    padding: .8rem;
    border-radius: 10px;
}

.name {
    padding-top: 100px;
}